
.footer {
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    color: #fff;
    padding: 10px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-contents {
    display: flex;
    justify-content: space-around;
}

.footer-contents > div {
    flex: 1;
}

.footer-contents h3 {
    margin-bottom: 10px;
}

.footer-contacts img{
    width: 5%;
    margin: 10px;
    margin-left: 0;
}

.footer-install img{
    width: 30%;
}

.footer-contents h3::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #ffcc00; /* Yellow line beneath headings */
    margin-top: 5px;
}

