.btn-container-promo{
    display: flex;
    justify-content: center;
    margin: 60px;
}

.view-all-promo{
    background: #D50000;
    color: white;
    width: 230px;
    height: 60px;
    border-radius: 7px;
    font-weight: bold;
    box-shadow: 2px 2px 5px grey;
    border: none;
    cursor: pointer;
}

.view-all-promo:hover{
    background-color: #ba0000;
}