nav{
    background: white;
    display: flex;
    top: 0;
    position: fixed;
    align-items: center;
    width:100%;
    box-shadow: 0 4px 5px -2px gray;
    z-index: 1000;
  }
  
  li{
    list-style: none;
    margin: 20px;
    color: white;
    position: relative;
  }

  .logo {
    margin-left: 20px; 
}
  
  ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end; 
    width: 100%;
  }
  
  nav img{
    margin: 10px;
    width: 47%;
  }
  
  nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 2px;
    position: relative;
  } 

  nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FEBA01;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s; 
  }

  nav ul li a:hover::after {
    width: 100%;
  }
  
  .header{
    display: flex;
    padding-top: 70px;
    background: #fff9d0;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 70px;
  }
  
  .header img{
    width: 40%;
  }
  .header-title{
    font-weight: bold;
    font-size: 50px;
  }
  